

<div class="wow fadeIn">
<!-- HERO AREA -->
<div class="jumbotron" id="#hero" data-stellar-background-ratio="0.5" >

    <div class="row">
          <div class="col-md-4"> 
              </div>    
            <div class="col-md-4 wow fadeIn ">
                  <img class="card-img-top" src="img/bigger.png" alt="">
            </div>

            <div class="col-md-4">       
            </div>     

    </div>   


</div>

</div>


<div class="now">
<!-- ourStory -->
<section  id="services">
    <div class="section-header">

    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                      <p><i class=" fa fa-home fa-5x wow bounce fa-align-center"></i></p>
                        <h1 class="striking">Our Story</h1>
                        <p> Click here to learn more about our remarkable work.</p>
                    </div>

                    <button class="btn btn-alert outline" ui-sref="services" type="submit">Our Story</button>

                </div>
                <div class="col-md-4">
                    <div>
                          <p><i class="fa fa-wrench fa-5x wow bounce fa-align-center"></i></p>
                        
                        <h1 class="striking">Services</h1>
                        <p>Forge is a general contracting company that specializes in all facets of construction services.</p>
                    </div>

                     <button class="btn btn-alert outline" ui-sref="ourstory" type="submit">Services</button>
                </div>
                <div class="col-md-4">
                    <div>
                        <p><i  id="m" class="fa fa-phone fa-5x fa-align-center wow bounce "></i></p>
                        <h1 class="striking">Contact</h1>
                        <p>Click here for a free estimate from one of our qualified management staff. </p>
                    </div>

                     <button class="btn btn-alert outline" ui-sref="contact" type="submit">Contact</button>
                </div>
            </div>
        </div>
    </div>


</section>


</div>
    <div class="section-footer wow bounceIn">
        <div id="bot">
            <h6   class="striking" >FORGE appreciates all business, big or small.</h6>
        </div>
    </div>

 </div>
<div id="home" ui-view></div>


<!-- <script src="js/custom.js"></script> -->
