<div class="wow fadeIn">
<!-- HERO AREA -->
<div class="jumbotron" id="#hero" data-stellar-background-ratio="0.5">
        <h1 class="display-3 wow bounceInLeft"><span class="striking" style="    color: black;
                                                                                font-weight: bold;
                                                                                font-size: 120%;"
                                                                                >Services</span>  </h1>
        <!--<p class="lead wow bounceInRight">Creation through determination </p>
        -->


</div>

</div>

    <!-- Page Content -->
    <div class="container">



        <!-- Intro Content -->
        <!--<div class="row">
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="../img/carlinfamily.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h2>About <span class="striking">Forge Contracting </span></h2>
                <p>At FORGE we believe in constantly adapting and growing our young company. </p>
                <p>We demonstrate a thorough knowledge in modern construction building techniques and logistics. Forge Contracting delivers a project on budget and schedule while creating a pleasant atmosphere giving our clients the ability to creatively design worry free. </p>
                <p>Through years of experience and networking Forge employs a team of educated, experienced and professional trades able to deliver a multitude of projects. </p>
            </div>
        </div>-->
        <!-- /.row -->

        <!-- Portfolio Item Row -->

<h3  id="txt3" class="my-3" style="text-align: center;"> Forge Contracting offers a variety of construction services</h3>
<div class="row">
          <div class="col-md-4">
               <li  id="textnow">  Project Supervision and Management </li>
          </div>    
            <div class="col-md-4">
               <li  id="textnow">  New builds </li>
          </div>   
            <div class="col-md-4">
               <li  id="textnow">  Commercial </li>
          </div>     

</div>    

<div class="row">
          <div class="col-md-4">
               <li  id="textnow">  Retail/Residential </li>
          </div>    
            <div class="col-md-4">
               <li  id="textnow"> Design </li>
          </div>   
            <div class="col-md-4">
               <li  id="textnow">  Restoration </li>
          </div>     

</div>     

     
   
              <br>

              <h4>  &nbsp  </h4>
        

        <div class="row">

            <div class="col-md-8">
                <img id="pic2" class="img-fluid" src="../img/comercial3.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3 id="txt3" class="my-3">Commercial - Retail</h3>
                <p id="textnow">Forge worked closely with Symmetry Developments and members of 59 project management to assist in site supervision, on-site safety consultation, carpentry and labor to assure safe and efficient developments. </p>
                <h3  id="proj2" class="my-3">Project Details</h3>
                <ul>
                    <li id="smallt">Linea Townhomes</li>
                    <li id="smallt"> The Hive Lofts – photos are of 6 story building</li>
                    <li id="smallt" >Origami Sales Office</li>
                    <li id="smallt" >Origami Lofts - photos to come</li>
                </ul>
                <!--<h3 id="txt3" class="my-3">Home renovation </h3>
                <p id="textnow">Forge Contracting offers a wide variety of home renovation options. Due to years of construction experience we can provide a pleasant worry free home renovation.  </p>-->
            </div>

            

            
        </div>

        <br>
        <br>
        <br>

        <div class="row">



            <div class="col-md-4">
                <h3 id="txt3" class="my-3">Home renovation</h3>
                <p id="textnow">Forge Contracting offers a wide variety of home renovation options. Due to years of construction experience we can provide a pleasant worry free home renovation.  </p>
                <!--<h3  id="proj2" class="my-3">Project Details</h3>-->
                <!--<ul>
                    <li id="smallt">Linea Townhomes</li>
                    <li id="smallt"> The Hive Lofts – photos are of 6 story building</li>
                    <li id="smallt" >Origami Sales Office</li>
                    <li id="smallt" >Origami Lofts - photos to come</li>
                </ul>-->
                <!--<h3 id="txt3" class="my-3">Home renovation </h3>
                <p id="textnow">Forge Contracting offers a wide variety of home renovation options. Due to years of construction experience we can provide a pleasant worry free home renovation.  </p>-->
            </div>

            <div class="col-md-8">
                <img id="pic2" class="img-fluid" src="../img/house.jpg" alt="">
            </div>
            

        </div>

        <h3 class="my-3" style="text-align: center;"> We deal with permits, architectural engineered drawings and planning while completely updating our clients through the entire build.</h3>

                <h3 id="txt3" class="my-4"> Projects</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/91.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/1111.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/95.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/96.jpg" alt="">
                </a>
            </div>

        </div>


        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/2.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/5555.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/50.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img class="img-fluid" src="../img/60.jpg" alt="">
                </a>
            </div>

        </div>


    <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img  id="samesame" class="img-fluid" src="../img/70.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img id="samesame"  class="img-fluid" src="../img/37.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img id="samesame"  class="img-fluid" src="../img/123.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img  id="samesame" class="img-fluid" src="../img/13.jpg" alt="">
                </a>
            </div>

        </div>


    <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img  class="img-fluid" src="../img/56.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img   class="img-fluid" src="../img/58.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img   class="img-fluid" src="../img/55.jpg" alt="">
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#">
                    <img   class="img-fluid" src="../img/777.jpg" alt="">
                </a>
            </div>

        </div>





        


<div class="container-fluid" ui-view ></div>
