<div class="wow fadeIn">
<!-- HERO AREA -->
<div class="jumbotron" id="#hero" data-stellar-background-ratio="0.5">
        <h1 class="display-3 wow bounceInLeft"><span class="striking" style="    color: black;
                                                                                font-weight: bold;
                                                                                font-size: 120%;"
                                                                                >Our Story</span>  </h1>
        <hr class="my-4">
</div
</div>
    <div class="container">
<div class="row">

          <!--<!--<div class="col-md-4">-->
                   
          <!--</div>    -->
            <div class="col-md-12">
        <h3 style="font-weight: bold;"> Forge Contracting is a certified, insured and licensed general contracting company specializing in commercial steel frame and drywall throughout  the GTA and Ontario. 
                      At FORGE we believe in constantly adapting and growing our young company. We demonstrate thorough knowledge in modern construction building techniques and logistics. Forge Contracting
                       delivers a project on budget and schedule while creating a pleasant atmosphere giving our clients the ability to creatively design worry free. Through years of experience and
                        networking Forge employs a team of educated, experienced and professional trades able to deliver a multitude of projects. </h3> 
          </div>   



</div>  

<br>
<br>
<div class ="row">
    <div class="col-md-4" >
        <img   class="img-fluid" src="img/ourstory.jpg" alt="">
    </div>

    <div class="col-md-4">
        <img   class="img-fluid" src="img/ourstory2.jpg" alt="">
    </div>

     <div class="col-md-4" >
         <img   class="img-fluid" src="img/58.jpg" alt="">
     </div>
</div>     

    
</div>



       

<div id="services" ui-view></div>
